.header {
    font-size: 100px;
    margin: auto;
    text-align: center;
    background-color: red;
}

.banana {
    font-size: 50px;
    font-family: "Times New Roman";
    margin: 10px;
    text-align: center;
    background-color: lightblue;
    border-color: black;
    border: solid;
}

.pancakes {
    font-size: 50px;
    font-family: "Times New Roman";
    margin: 10px;
    text-align: center;
    border: solid;
    background-color: lightsalmon;
}

.spaghetti {
    
    font-family: "Times New Roman";
    font-size: 50px;
    margin: 10px;
    text-align: center;
    background-color: lightskyblue;
    border: solid;
}